@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Work+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.text {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20vw;
}

h1.title {
  color: #ffa500;
}

.image-start {
  background-image: url("/image/aboutUs2.png");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover; /* Adjust as needed */
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 {
  background-color: #848583;
  padding: 10vw;
}

.product-card {
  background-color: #323232;
  border-radius: 20px;
  padding: 100px;
}

.img-1 {
  flex: 1;
  min-width: 200px !important;
  min-height: 200px !important;
}

.highlight-text {
  font-size: calc(1.5rem + 1vw);
  color: #ffa500;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.cta-button {
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s ease;
}

.cta-button:hover {
  background-color: darkorange;
}

.machines-text {
  background-color: #262626;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-3 {
  background-color: #262626;
}

.machine-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 11vw;
}

.img-2 {
  flex: 1;
}

.text-machine {
  flex: 1;
  padding-left: 35px;
}

.content-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  min-width: 40%;
  margin: 20px;
  align-items: center;
}

.cta-button-2 {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

@media (min-width: 993px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    min-width: 40%;
    margin: 20px;
    align-items: center;
  }

  .cta-button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
  }

  .desc-1 {
    padding-left: 20px;
  }
}

@media (max-width: 992px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    min-width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
  }
}

@media (max-width: 756px) {
  .product-card {
    background-color: #323232;
    border-radius: 20px;
    padding: 50px;
  }

  .section-2 {
    background-color: #848583;
    padding: 20px;
  }
}
