/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Work+Sans:wght@600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Saira Condensed", sans-serif;
}

body {
  margin: 0;
  font-family: "Saira Condensed", sans-serif;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: url("/image/aboutUs2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* to achieve parallax scrolling effect */
}

.text {
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20vw;
}

@media (max-width: 756px) {
  .parallax-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  .text {
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20vw;
    padding-top: 20vh;
  }
}

/* FOLD */
@media (max-width: 290px) {
  .parallax-container {
    position: relative;
    overflow: hidden;
    height: 120vh;
  }

  .text {
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20vw;
    padding-top: 20vh;
  }
}

h1.title-aboutus {
  color: #ffa500;
}

p.about-us {
  font-size: calc(0.8rem + 0.5vw);
}

.section-2 {
  background-color: #ababab;
  padding: 10vw;
}

.product-card {
  background-color: #1c2329;
  border-radius: 20px;
  padding: 100px;
}

.img-1 {
  flex: 1;
}

@media (min-width: 992px) {
  .img-1 {
    flex: 1;
    max-width: 400px !important;
  }
}

.highlight-text {
  font-size: calc(1.5rem + 1vw);
  color: #ffa500;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.cta-button {
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s ease;
}

.cta-button-2 {
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s ease;
}

.cta-button:hover {
  background-color: darkorange;
}

.cta-button-2:hover {
  background-color: darkorange;
}

.machines-text {
  background-color: #262626;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-3 {
  background-color: #1f232c;
}

.machine-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 11vw;
  align-items: center;
}

@media (min-width: 800px) {
  .img-2 {
    flex: 1;
    max-width: 500px !important;
  }
}

@media (min-width: 800px) {
  .text-machine {
    flex: 1;
    padding-left: 35px;
    min-width: 40%;
  }
}

@media (max-width: 799px) {
  .text-machine {
    flex: 1;
    min-width: 40%;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
  }

  .img-2 {
    flex: 1;
  }
}

.content-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  min-width: 40%;
  align-items: center;
  justify-content: center;
}

.cta-button-2 {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Adjust this value if needed */
  bottom: 8.7vh;
}

.whatsapp-icon:hover::after {
  content: "WhatsApp";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show tooltip on hover */
.whatsapp-icon:hover::after {
  opacity: 1;
}

.pad-left-logo {
  margin-left: 30px;
}

@media (min-width: 993px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    min-width: 40%;
    margin: 20px;
    align-items: center;
  }

  .cta-button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
  }

  .desc-1 {
    padding-left: 20px;
  }
}

@media (max-width: 992px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    min-width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
  }
}

@media (max-width: 756px) {
  .product-card {
    background-color: #1c2329;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
  }

  .section-2 {
    padding: 5px;
  }
}

/* Loader */
