@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.navbar-nav-custom .nav-link {
  margin-right: 40px;
}

.navbar-nav-custom .nav-link,
.navbar-brand {
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: 13px;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 200;
  background-color: black;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    visibility 1s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.navbar.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 7px;
  position: relative;
  z-index: 10;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.pad-left {
  padding-left: 50px;
}

@media (max-width: 991px) {
  .pad-left {
    padding-left: 14px;
  }
}
@media (min-width: 992px) {
  .nav-item a:hover {
    color: white !important;
  }
  .nav-item2 a:hover {
    color: white !important;
  }
}

.nav-item2 {
  margin-right: 7px;
  position: relative;
  z-index: 10;
}

.nav-item2 a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.navbar-scrolled {
  background-color: black;
}

.navbar-nav-custom .nav-link {
  font-weight: normal;
}

.navbar-nav-custom .nav-link.active {
  font-weight: bold;
}

.widthPercent {
  max-width: 100%;
}

@media (min-width: 993px) {
  .nav-item a {
    position: relative;
    z-index: 1;
  }

  .nav-item2 a {
    position: relative;
    z-index: 1;
  }

  .nav-item:hover::after {
    opacity: 1;
    z-index: -1;
    padding-right: 80px;
  }

  .nav-item2:hover::after {
    opacity: 1;
    z-index: -1;
    padding-right: 80px;
  }

  .widthPercent {
    max-width: 60%;
  }
}

.paddLeft {
  padding-left: 32px;
}

@media (max-width: 380px) {
  .widthPercent {
    max-width: 70%;
  }

  .paddLeft {
    padding-left: 25px;
  }
}

@media (max-width: 530px) and (min-width: 380px) {
  .paddLeft {
    padding-left: 25px;
  }
}

@media (max-width: 379px) and (min-width: 325px) {
  .paddLeft {
    padding-left: 22px;
  }
}

@media (max-width: 324px) {
  .paddLeft {
    padding-left: 16px;
  }
}
