<div>
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white"
    style="background-color: #1c2331"
  >
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-between p-4"
      style="background-color: #ffa500"
    >
      <!-- <div class="me-5">
        <span>Get connected with our social networks</span>
      </div> -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="" style="padding-bottom: 25px">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">PT Gracio Sentosa Bersama</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              Empowering Sustainability through Innovative Plastic Solutions:
              Crafting a Greener Future for Generations to Come.
            </p>
          </div>

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Quick Links</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              <a
                href="https://docs.google.com/presentation/d/1W3K0C5dE9T1_ViVqkgWT-r--UlN3LRWD_zAoKNjAFF4/edit#slide=id.p8"
                class="text-white"
                target="”_blank”"
                >Company Profile</a
              >
            </p>
            <p>
              <a
                href="https://drive.google.com/file/d/1f66GZrJ3Phwij2IB2pHLuEAiwlBkKCXR/view?usp=share_link"
                class="text-white"
                target="”_blank”"
                >Price List</a
              >
            </p>
            <p>
              <a
                href="https://wa.me/+6287852808115/?text=Halo! Saya ada pertanyaan tentang "
                class="text-white"
                target="”_blank”"
                >Help</a
              >
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact Us</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              <i class="fas fa-home mr-3"></i> Central Industrial Park Blok
              Delta Sidoarjo – Jawa Timur
            </p>
            <p>
              <i class="fas fa-envelope mr-3"></i>
              graciosentosabersama@gmail.com
            </p>
            <p>
              <i class="fas fa-phone mr-3"></i> +62 878-5280-8115 (WA
              Registered)
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <p>
        <% const currentYear = new Date().getFullYear() %> Hak Cipta &copy <%-
        currentYear %> PT Gracio Sentosa Bersaudara | v1.0.0
      </p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
