<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partial/navbar') %>
    <div class="imageStart">
      <div class="text-1">
        <p class="best-quality">Best Quality</p>
        <h1 class="title-desc">Coconut Charcoal Briquettes</h1>
        <p class="desc-1">
          We supply coconut shell charcoal briquettes in bulk (up to 350 metric
          tons per month) and can ship to any destination worldwide. We can
          produce briquettes in any desired shape or size and tailor make
          packaging according to our customers exact design preferences.
        </p>
      </div>
    </div>
  </body>
</html>
