<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/header') %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Gracio Sentosa Bersaudara</title>
  </head>
  <body>
    <%- include('./partial/navbar') %>
    <div class="image-start">
      <div class="text">
        <h1 class="title">About Us</h1>
        <p style="font-style: italic">PT Gracio Sentosa Bersama</p>
        <p class="about-us">
          We are a pioneering plastic manufacturing company dedicated to
          producing high-quality, eco-friendly plastic solutions. With over half
          a decade of experience, we have been at the forefront of innovation,
          constantly pushing the boundaries of technology and sustainability to
          create products that cater to the modern world's needs.
        </p>
      </div>
    </div>

    <div class="section-2">
      <div class="product-card">
        <div class="content-2">
          <img
            src="/image/plasticBags.png"
            alt=""
            style="max-height: 500px"
            class="img-fluid img-1"
          />
          <div class="content">
            <p class="desc-1">
              <span class="highlight-text">Plastic Bags</span><br />
              We are a pioneering plastic manufacturing company dedicated to
              producing high-quality, eco-friendly plastic solutions. With over
              half a decade of experience, we have been at the forefront of
              innovation, constantly pushing the boundaries of technology and
              sustainability to create products that cater to the modern world's
              needs.
            </p>
            <button class="cta-button">Learn More</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="section-3">
      <div class="machines-text">
        <img
          src="/image/plasticBags.png"
          alt=""
          style="max-height: 500px"
          class="img-fluid img-1"
        />
        <div class="content">
          <p class="desc-1">
            <span class="highlight-text">Plastic Bags</span><br />
            We are a pioneering plastic manufacturing company dedicated to
            producing high-quality, eco-friendly plastic solutions. With over
            half a decade of experience, we have been at the forefront of
            innovation, constantly pushing the boundaries of technology and
            sustainability to create products that cater to the modern world's
            needs.
          </p>
          <button class="cta-button">Learn More</button>
        </div>
      </div>
    </div> -->
    <div class="section-3">
      <div class="machine-content">
        <img
          src="/image/plasticBags.png"
          alt=""
          style="max-height: 500px"
          class="img-fluid img-2"
        />
        <div class="text-machine">
          <p class="desc-machine">
            <span class="highlight-text">Plastic Bags</span><br />
            We are a pioneering plastic manufacturing company dedicated to
            producing high-quality, eco-friendly plastic solutions. With over
            half a decade of experience, we have been at the forefront of
            innovation, constantly pushing the boundaries of technology and
            sustainability to create products that cater to the modern world's
            needs.
          </p>
          <button class="cta-button-2">More About Plastic Machinery</button>
        </div>
      </div>
    </div>
  </body>
  <%- include('./partial/footer') %> <%- include('./partial/scriptFooter') %>
</html>
